.manage-products {
  display: grid;
  min-height: 0;
  // overflow-y: hidden;
  grid-template-rows: 1fr minmax(45fr, max-content);
  grid-template-columns: 1fr 5fr;
  grid-template-areas: "prodhead prodhead"
                       "prodnav prodedit";

  // manage-products-actions-btn--new_product
  &-actions {
    grid-area: prodhead;
    place-self: center;
    width: 25%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "prodnew"
                         "prodmenu";
    // justify-items: center;
    grid-gap: 4px;
 
    &-btn--new_product {
      grid-area: prodnew;
      justify-self: center;
    }

    &-menu {
      grid-area: prodmenu;
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-areas: "prodcat prodsearch";
      grid-gap: 4px;

      &--category {
        grid-area: prodcat;
        place-self: center;
      }
  
      &--search_bar {
        grid-area: prodsearch;
        place-self: stretch;
        // width: 100%;
      }
    }

    input {
      width: 100%;

      &::placeholder {
        text-align: center;
      }
    }
  }

  &-list {
    grid-area: prodnav;
    min-height: 0;
    overflow-y: auto;
    // height: 73vh;
  }

  &-edit { grid-area: prodedit; }
  &-add { grid-area: prodedit; }
}

.add-product {
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 1fr;

  h3 {
    grid-row: 1 / 2;
    // grid-column: 2 / 3;
    place-self: center;
  }

  &-form {
    grid-row: 2 / 3;
    display: grid;
    place-self: stretch;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "addid" 
                         "addname"
                         "addunit"
                         "adddesc"
                         "adddist"
                         "addcat"
                         "addstored"
                         "addsplit"
                         "addbtns";
    
    &-id {
      grid-area: addid;
    }
    &-name {
      grid-area: addname;
    }
    &-unit {
      grid-area: addunit;
    }
    &-desc {
      grid-area: adddesc;
    }
    &-dist {
      grid-area: adddist;
    }
    &-cat {
      grid-area: addcat;
    }
    &-stored {
      grid-area: addstored;
    }
    &-split {
      grid-area: addsplit;
    }
    &-btns {
      grid-area: addbtns;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: "btnsave btncancel btnclear";
      place-items: center;

      &--save {
        grid-area: btnsave;
        padding: 0 4px 0 4px;
      }
  
      &--cancel {
        grid-area: btncancel;
      }

      &--clear {
        grid-area: btnclear;
      }
    }
  }
}