.manage-page {
  width: 90%;
  justify-self: center;
  grid-area: main;
  // min-height: 0;
  overflow-y: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 25px 1fr;
  grid-template-areas: "managenav"
                       "managecontent";

  &-header {
    grid-area: managenav;
    justify-self: center;
    align-content: start;
    display: grid;
    width: 40%;
    // justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom: 1px solid gray;
    padding-bottom: 6px;
    justify-items: center;
    
    &--link {
      // width: 100%;
      // justify-self: center;
      
      &_products {
        padding: 0 10px 0 10px;
      }
      &_users {
        padding: 0 10px 0 10px;
      }
      &_recipes {
        padding: 0 10px 0 10px;
      }
    }
  }

  &-content {
    grid-area: managecontent;
    display: grid;
  }
}