.recipe {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 10fr;
  grid-template-rows: 100%;
  grid-template-areas: "navi rcontent";

  &-navi {
    border-right: 1px solid gray;
  }
}