.manage-recipes {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 9fr;
  grid-template-rows: 2fr;
  
  &-navi {
    grid-column: 1 / 2;
    border-right: 1px solid gray;
  }

  &-content {
    grid-column: 2 / 3;
    margin-left: 12px;
  }
}