.manage-recipes {
  
  &-main {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: max-content 8fr;
    grid-template-areas: "navi maincontent";

    &-navi {
      grid-area: navi;
    }
  
    &-content {
      grid-area: maincontent;
      margin-left: 12px;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 10fr;
      grid-template-areas: "newrecbtn"
                           "reccontent";

      &--newrecipe {
        // manage-recipes-main-content--newrecipe
        grid-area: newrecbtn;
        place-self: center;
      }
    }
  }
}