.product-list {
  grid-area: main;
  justify-self: center;
  width: 90%;
  min-width: 0;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  min-height: 0;
  overflow-y: auto;

  &-items--new_product {
      place-self: center;
  }

  &-loading {
    place-self: center;
  }

  &-content {
    display: grid;
    grid-template-rows: 1fr 10fr;
    grid-template-areas: "listheader"
                         "listcontent";
    min-height: 0;
  }

  // &--new-product {
  //   display: grid;
  // }
}

.add-product {
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 1fr 1fr 1fr;

  h3 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    // place-self: center;
  }

  &-form {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: grid;
    place-self: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "addid" 
                         "addname"
                         "addunit"
                         "adddesc"
                         "adddist"
                         "addcat"
                         "addstored"
                         "addsplit"
                         "addbtns";
    
    &-id {
      grid-area: addid;
    }
    &-name {
      grid-area: addname;
    }
    &-unit {
      grid-area: addunit;
    }
    &-desc {
      grid-area: adddesc;
    }
    &-dist {
      grid-area: adddist;
    }
    &-cat {
      grid-area: addcat;
    }
    &-stored {
      grid-area: addstored;
    }
    &-split {
      grid-area: addsplit;
    }
    &-btns {
      grid-area: addbtns;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: "btncancel btnsave btnclear";
      place-items: center;

      &--save {
        grid-area: btnsave;
        padding: 0 4px 0 4px;
      }
  
      &--cancel {
        grid-area: btncancel;
      }

      &--clear {
        grid-area: btnclear;
      }
    }
  }
}