.product-list {
  grid-area: main;
  justify-self: center;
  width: 90%;
  min-width: 0;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  min-height: 0;
  overflow-y: auto;

  &-items--new_product {
      place-self: center;
  }

  &-loading {
    place-self: center;
  }

  &-content {
    display: grid;
    grid-template-rows: 1fr 10fr;
    grid-template-areas: "listheader"
                         "listcontent";
    min-height: 0;

  }
}