.order-sheet {
  width: 90%;
  grid-area: main;
  justify-self: center;
  display: grid;
  grid-template-rows: 40px 1fr;
  min-height: 0;
  overflow-y: hidden;

  &-title {
    grid-row: 1 / 2;
    justify-self: center;
    border-bottom: 1px solid gray;
    width: 65%;
    text-align: center;
    margin-bottom: 5px;
  }

  &-list {
    overflow-y: auto;
    display: grid;
    grid-auto-rows: 25px;
    width: 75%;
    margin: 0 auto;
    
    ul { list-style: none; }

    &--noprods {
      justify-self: center;
      margin-top: 10px;

      h3 {
        text-align: center;
      }
    }

    &-item {
      display: grid;
      grid-template-columns: 50% 20% 15%;
      // grid-auto-rows: inherit;

      &--name {
        grid-column: 1 / 2;
        padding-left: 50%;
      }

      &--quant {
        grid-column: 2 / 3;
      }

      &--remove_btn {
        grid-column: 3 / 4;
        justify-self: center;
      }
    }
  }
  &--clear_btn {
    justify-self: end;
    padding-right: 10px;
  }
}