.manage-recipes-content-recipe {
  display: grid;
  height: 100%;
  grid-template-rows: 25px 1fr;
  grid-template-areas: 
                      "newrecipebtn"
                      "form";


  &--newrecipe {
    // grid-column: 2 / 3;
    grid-area: newrecipebtn;
    place-self: center;
  }

  &-form {
    grid-area: form;
    display: grid;
    grid-template-rows: 25px 3fr 1fr min-content;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
                        ". title ."
                        ". ingreds ."
                        ". notes ."
                        ". recid actions";
    
    &--title {
      grid-area: title;
      justify-self: center;
    }
  
    &--ingreds {
      grid-area: ingreds;
      
      input {
        display: flex;
        flex-direction: column;
        width: 25%;
      }
    }
    
    &--notes {
      grid-area: notes;
      height: 25px;
  
      textarea {
        width: 100%;
        height: 100px;
        overflow-wrap: normal;
        resize: none;
      }
    }
  
    &--id {
      grid-area: recid;
    }

    &--actions {
      grid-area: actions;
      place-self: center;
      margin-right: 10px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2px;      
    }
  }
}