.manage-recipes-content-recipe {
  grid-area: reccontent;
  display: grid;
  grid-template-rows: 25px max-content;
  grid-template-areas: "newrecipebtn"
                       "form";
  overflow-y: auto;


  &--newrecipe {
    // grid-column: 2 / 3;
    grid-area: newrecipebtn;
    place-self: center;
  }

  &-form {
    grid-area: form;
    display: grid;
    grid-template-rows: 25px 3fr 1fr;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
                        ". title ."
                        ". ingreds ."
                        ". notes actions";
    
    &--title {
      grid-area: title;
      justify-self: center;
    }
  
    &--ingreds {
      grid-area: ingreds;
      
      input {
        display: flex;
        flex-direction: column;
        width: 25%;
      }
    }
    
    &--notes {
      grid-area: notes;
      height: 25px;
  
      textarea {
        width: 100%;
        height: 100px;
        overflow-wrap: normal;
        resize: none;
        color: red;
      }
      textarea::placeholder {
        color: red;
      }
    }

    &-actions {
      grid-area: actions;
      place-self: center;
      margin-right: 10px;
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 2px;      
    }
  }
}