.footer {
  // grid-area: foot;
  grid-row: foot;
  align-self: end;
  border-top: 2px solid black;
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr 120px 2fr 70px 95px;
  grid-template-rows: 30px;
  grid-template-areas: "copyright items blank buttonone buttontwo";

  &-copyright {
    grid-area: copyright;
    align-self: center;
  }

  &-item-total {
    grid-area: items;
    align-self: center;
    justify-self: start;
    padding-left: 12px;
  }

  &-nav {
    &--submit {
      grid-area: buttonone;
      place-self: center;
    }

    &--ordersheet {
      grid-area: buttontwo;
      place-self: center;
    }

    &--submit button, &--ordersheet button {
      padding: 4px 4px;
    }
  }

  @media only screen and (width: 880px) {
    .footer {
      grid-gap: 0;
      gap: 0;
      &-copyright {
        font-size: 12px;
      }
      &-item-total {
        font-size: 12px;
        justify-self: end;
      }
    
      &-nav {
        &--submit { justify-self: end; }
        &--submit button, &--ordersheet button {
          font-size: 10px;
          padding: 4px 4px;
        }
      }
    }
  }
}