.edit-product {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: ". . ."
                       ". editid ." 
                       ". editname ."
                       ". editunit ."
                       ". editdesc ."
                       ". editdist ."
                       ". editcat ."
                       ". editstored ."
                       ". editsplit ."
                       ". btns .";
  gap: 5px;

  &-name { grid-area: editname; }

  &-id { grid-area: editid; font-weight: 600; }

  &-unit { grid-area: editunit; }

  &-desc { grid-area: editdesc; }

  &-dist { grid-area: editdist; }

  &-cat { grid-area: editcat; }

  &-stored { grid-area: editstored; }

  &-split { grid-area: editsplit; place-self: center; }

  &-btns {
    grid-area: btns;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3px;
  }
}